/* Основний колір текста #212121 */
/* Додатковий колір текста #757575 */
/* Білий колір текста #FFFFFF */
/* другий білий колір rgba(255, 255, 255, 0.6) */
/* Колір акцента #2196F3 */
/* основний колір фона #E5E5E5 */
/* додатковий колір фона #F5F4FA */
/* колір фона шапки #FFFFFF */
/* колір фона героя #2F303A */
/* колір фона футера #2F303A */
/* колір логотипу 1-частина #2196F3, 2-частина #000000 */
/* колір кнопки #F5F4FA */
/* колір акцента кнопки #2196F3 */

/* ПОРТФОЛІО */

:root {
  --primary-font-color: #212121;
  --secondary-font-color: #757575;
  --wite-text-color: #ffffff;
  --button-color: #f5f4fa;
  --button-accent-color: #2196f3;
  --accent-color: #2196f3;
}
/* Основні властивості, які наслідуються у тілі сторінки */
body {
  font-family: Roboto, sans-serif;
  color: var(--primary-font-color);
  background-color: #e5e5e5;
}
/* header */
.header {
  background-color: #ffffff;
  /* Тимчасовий фон для хедера, щоб було видно текст */
}
/* навігація по сторінці */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #000000;
}

.logo-color {
  color: #2196f3;
}

.link-studio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2196f3;
}

.link-portfolio,
.link-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-font-color);
}

.link-studio:hover,
.link-studio:focus,
.link-portfolio:hover,
.link-portfolio:focus,
.link-contacts:hover,
.link-contacts:focus {
  color: var(--accent-color);
}
/* контакти */
.mail-tel .mail,
.mail-tel .tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secondary-font-color);
}

.mail:hover,
.mail:focus,
.tel:hover,
.tel:focus {
  color: var(--accent-color);
}

.link,
.mail-tel {
  list-style: none;
}

/* main */
/* Герой Секція 1*/
.hero {
  background-color: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--wite-text-color);
}

.hero-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--wite-text-color);
  background-color: #2196f3;
  cursor: pointer;
}

/* Секція 2 */
.work-benefits {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.work-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-font-color);
}
.work-list {
  list-style: none;
}

/* Секція 3 */
.technology-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.technology-list {
  list-style: none;
}

/* Секція 4 */
.team {
  background-color: #f5f4fa;
}

.team-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-profession {
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-font-color);
}

.team-list {
  list-style: none;
}

/* Підвал */
.contacts {
  background-color: #2f303a;
}

.contacts-list {
  list-style: none;
}
/* Логотип наслідує властивості, задані логотипу у шапці */

.contacts > .logo {
  color: #ffffff;
}

.contacts-address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--wite-text-color);
}
.contacts-mail,
.contacts-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.address {
  font-style: normal;
}

/* ПОРТФОЛІО */
/* Шапка */
/* Фон шапки наслідується з CSS правила щодо шапки першої сторнінки. */
/* Логтип наслідує властивості з CSS правила щодо Логотипу першої сторнінки.*/
.nav-portfolio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2196f3;
}

.nav-stdio,
.nav-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-font-color);
}

.nav-stdio:hover,
.nav-stdio:focus,
.nav-contacts:hover,
.nav-contacts:focus {
  color: var(--accent-color);
}

.nav {
  list-style: none;
}

/* Властивості посилання мейлу та телефону наслідуються з CSS правила першої сторнінки.*/

/* main */
/* Герой Секція */
/* Колір фону наслідується з CSS правила першої сторнінки.*/
.button-library,
.button-websites,
.button-applications,
.button-design,
.button-marketing {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  counter-reset: var(--primary-font-color);
  background-color: var(--button-color);
  cursor: pointer;
}

.button-library:hover,
.button-websites:hover,
.button-applications:hover,
.button-design:hover,
.button-marketing:hover,
.button-library:focus,
.button-websits:focus,
.button-applications:focus,
.button-design:focus,
.button-marketing:focus {
  color: var(--wite-text-color);
  background-color: var(--button-accent-color);
}

.button {
  list-style: none;
}

.projects-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-font-color);
}
.projects-text {
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-font-color);
}

.projects {
  list-style: none;
}

/* Підвал */
/* Фон та колір наслідується з CSS правила щодо Підвалу першої сторнінки. */
/* Контакти наслідують властивості текста та шрифта з CSS правила щодо Підвалу першої сторнінки.*/
