/* Основний колір текста #212121 */
/* Додатковий колір текста #757575 */
/* Білий колір текста #FFFFFF */
/* другий білий колір rgba(255, 255, 255, 0.6) */
/* Колір акцента #2196F3 */
/* основний колір фона #E5E5E5 */
/* додатковий колір фона #F5F4FA */
/* колір фона шапки #FFFFFF */
/* колір фона героя #2F303A */
/* колір фона футера #2F303A */
/* колір логотипу 1-частина #2196F3, 2-частина #000000 */
/* колір кнопки #F5F4FA */
/* колір акцента кнопки #2196F3 */

/* ПОРТФОЛІО */

:root {
  --primary-font-color: #212121;
  --secondary-font-color: #757575;
  --wite-text-color: #ffffff;
  --button-color: #f5f4fa;
  --button-accent-color: #2196f3;
  --accent-color: #2196f3;
}
/* Основні властивості, які наслідуються у тілі сторінки */
body {
  color: var(--primary-font-color);
  background-color: #e5e5e5;
}
/* header */
header {
  background-color: #ffffff;
}
/* навігація по сторінці */
.logo {
  color: #000000;
}

.logo-color {
  color: #2196f3;
}

.link-studio {
  color: #2196f3;
}

.link-portfolio,
.link-contacts {
  color: var(--primary-font-color);
}

.link-studio:hover,
.link-studio:focus,
.link-portfolio:hover,
.link-portfolio:focus,
.link-contacts:hover,
.link-contacts:focus {
  color: var(--accent-color);
}
/* контакти */
.mail-tel a {
  color: var(--primary-font-color);
}

.mail:hover,
.mail:focus,
.tel:hover,
.tel:focus {
  color: var(--accent-color);
}
/* main */
/* Герой Секція 1*/
.hero {
  background-color: #2f303a;
}

.hero-title {
  color: var(--wite-text-color);
}

.hero-button {
  color: var(--wite-text-color);
  background-color: #2196f3;
}

/* Секція 2 */
.work-text {
  color: var(--secondary-font-color);
}

/* Секція 3 */

/* Секція 4 */
.team {
  background-color: #f5f4fa;
}

.team-profession {
  color: var(--secondary-font-color);
}

/* Підвал */
.contacts {
  background-color: #2f303a;
}
/* Логотип наслідує властивості, задані логотипу у шапці */
.contacts-address {
  color: var(--wite-text-color);
}
.contacts-mail,
.contacts-tel {
  color: rgba(255, 255, 255, 0.6);
}

/* ПОРТФОЛІО */
/* Шапка */
/* Фон шапки наслідується з CSS правила щодо шапки першої сторнінки. */
.nav-portfolio {
  color: #2196f3;
}

.nav-stdio,
.nav-contacts {
  color: var(--primary-font-color);
}

.nav-stdio:hover,
.nav-stdio:focus,
.nav-contacts:hover,
.nav-contacts:focus {
  color: var(--accent-color);
}
/* Колір посилань мейлу та телефону наслідуються з CSS правила першої сторнінки.*/

/* main */
/* Герой Секція */
/* Колір фону наслідується з CSS правила першої сторнінки.*/
.button-library,
.button-websits,
.button-applications,
.button-design,
.button-marketing {
  counter-reset: var(--primary-font-color);
  background-color: var(--button-color);
}

.button-library:hover,
.button-websites:hover,
.button-applications:hover,
.button-design:hover,
.button-marketing:hover,
.button-library:focus,
.button-websits:focus,
.button-applications:focus,
.button-design:focus,
.button-marketing:focus {
  color: var(--wite-text-color);
  background-color: var(--button-accent-color);
}
.projects .projects-text {
  color: var(--secondary-font-color);
}

/* Підвал */
/* Фон та колір наслідується з CSS правила щодо Підвалу першої сторнінки. */
